/* poppins-100 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/poppins-v20-latin/poppins-v20-latin-100.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-100italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 100;
  src: url('../fonts/poppins-v20-latin/poppins-v20-latin-100italic.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-200 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/poppins-v20-latin/poppins-v20-latin-200.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-300 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v20-latin/poppins-v20-latin-300.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v20-latin/poppins-v20-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/poppins-v20-latin/poppins-v20-latin-italic.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins-v20-latin/poppins-v20-latin-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v20-latin/poppins-v20-latin-600.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/poppins-v20-latin/poppins-v20-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-800 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/poppins-v20-latin/poppins-v20-latin-800.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-900 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v20-latin/poppins-v20-latin-900.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}


::selection {
  background-color: #0b372dbb;
}

.logo {
  width: 100px;
}

header {
  position: absolute;
  z-index: 9999;
  padding: 0.9rem 0;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

}

header nav {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  list-style: none;
  align-items: center;
}


header ul a {
  text-decoration: none;
  color: #fff;
  padding: 0 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
}

.hamburger {
  padding-left: 1.5rem;
}

.hamburger a {
  padding: 0;
  width: 37px;
  height: 37px;
  display: flex;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: rgba(115, 115, 115, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
}

.hamburger .bar {
  position: relative;
  width: 52%;
  height: 1.3px;
  height: 1.3px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}


.hamburger .bar::before,
.hamburger .bar::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 100%;
  background-color: inherit;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.hamburger .bar::before {
  top: -4.5px;
}

.hamburger .bar::after {
  top: 4.5px;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.parallax {
  pointer-events: none;
  transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
  -webkit-transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
  -moz-transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
  -ms-transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
  -o-transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
}

.bg-img {
  position: absolute;
  width: 162.04%;
  top: 20%;
  left: 51%;
  z-index: 1;
}

.fog-7 {
  position: absolute;
  width: 109.95%;
  top: 39.61%;
  left: 67.36%;
  z-index: 2;
}


.mountain-10 {
  position: absolute;
  z-index: 3;
  width: 50.34%;
  top: 62.83%;
  left: 63.31%;

}



.fog-2 {
  position: absolute;
  z-index: 4;
  width: 106.07%;
  top: 59.87%;
  left: 54.05%;

}

.mountain-9 {
  position: absolute;
  z-index: 5;
  width: 26.79%;
  top: 74.37%;
  left: 17.56%;

}

.mountain-8 {
  position: absolute;
  z-index: 6;
  width: 45.48%;
  top: 70.97%;
  left: 38.32%;

}

.fog-3 {
  position: absolute;
  z-index: 7;
  top: 67.77%;
  left: 51.67%;
  width: 25.98%;

}

.mountain-7 {
  position: absolute;
  z-index: 8;
  top: 72.92%;
  left: 67.65%;
  width: 29.80%;

}

.mountain-6 {
  position: absolute;
  z-index: 10;
  top: 70.99%;
  left: 84.14%;
  width: 22.19%;

}


.fog-4 {
  position: absolute;
  z-index: 11;
  top: 75.15%;
  left: 46.29%;
  width: 31.42%;

}

.mountain-5 {
  position: absolute;
  z-index: 12;
  top: 83.96%;
  left: 57.52%;
  width: 33.73%;

}

.fog-5 {
  position: absolute;
  z-index: 13;
  top: 65.48%;
  left: 48.37%;
  width: 83.04%;
}

.mountain-4 {
  position: absolute;
  z-index: 14;
  top: 78.97%;
  left: 27.92%;
  width: 41.49%;

}

.mountain-3 {
  position: absolute;
  z-index: 15;
  top: 73.82%;
  left: 92.59%;
  width: 24.24%;

}

/* .fog-6 {
  position: absolute;
  z-index: 1;
  top: calc(50% + 177px);
  left: calc(50% - 30px);
  width: 1418px;
} */

.mountain-2 {
  position: absolute;
  z-index: 17;
  top: 76.54%;
  left: 73.84%;
  width: 36.16%;
}

.mountain-1 {
  position: absolute;
  z-index: 18;
  top: 69.51%;
  left: 5.21%;
  width: 26.04%;
}

.text {
  position: absolute;
  z-index: 9;
  top: calc(50% - 130px);
  left: 50%;
  pointer-events: auto;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}


.text h2 {
  font-weight: 100;
  font-size: 6.5rem;
  line-height: 0.88;
}

.text h1 {
  font-weight: 800;
  font-size: 8rem;
  line-height: 0.88;
}


.sun-rays {
  position: absolute;
  z-index: 19;
  top: 0;
  right: 0;
  width: 34.43%;
  pointer-events: none;
}

.black-shadow {
  position: absolute;
  z-index: 20;
  bottom: 0;
  right: 0;
  width: 100%;
  pointer-events: none;
}

.fog-1 {
  position: absolute;
  z-index: 2;
  width: 109.95%;
  top: 39.60%;
  left: 67.36%;
}

.vignette {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.7));
  pointer-events: none;
}

/*_*_*_*_*_*_* about__Zhangjiajie Section *_*_*_*_*_*_*/

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(30%);
  transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-filter: blur(5px);
  -webkit-transform: translateY(30%);
  -moz-transform: translateY(30%);
  -ms-transform: translateY(30%);
  -o-transform: translateY(30%);
}

.show {
  opacity: 1;
  filter: blur(0);
  -webkit-filter: blur(0);
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.hidden2 {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(40%);
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-filter: blur(5px);
  -webkit-transform: translateY(40%);
  -moz-transform: translateY(40%);
  -ms-transform: translateY(40%);
  -o-transform: translateY(40%);
  padding-bottom: 15px;
}

.show2 {
  opacity: 1;
  filter: blur(0);
  -webkit-filter: blur(0);
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);

}

.about__Zhangjiajie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  background-color: #0b372dbb;
}

.about__Zhangjiajie h2 {
  font-size: 4rem;
  font-weight: 200;
  letter-spacing: 2px;
  color: #fff;
  position: relative;
  text-transform: uppercase;
  perspective: 200px;
  text-shadow: #0b372dbb 10px 10px 10px;
  margin-bottom: 4rem;
  transition: all 0.6s ease-out;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
}


.about__Zhangjiajie--gallery-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15rem;
  margin: 5rem;
}

.about-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.about-flex-container img {
  height: auto;
  width: 750px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}

.about-flex-container p {
  line-height: 2.5;
  letter-spacing: 2.5px;
  color: white;
  font-weight: 100;
  width: 600px;
  position: relative;
}

.gallery-main-container__first-container p::before,
.gallery-main-container__third-container p::before {
  content: "1";
  position: absolute;
  top: -30%;
  right: -2%;
  color: white;
  font-size: 40px;
  z-index: 10;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}

.gallery-main-container__second-container p::before,
.gallery-main-container__fourth-container p::before {
  content: "2";
  position: absolute;
  top: -37%;
  left: -7%;
  color: white;
  font-size: 40px;
  z-index: 10;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}

.gallery-main-container__fourth-container p::before {
  content: "4";
  top: -60%;
}

.gallery-main-container__third-container p::before {
  content: "3";
  top: -70%;
}

.gallery-main-container__first-container p::after,
.gallery-main-container__third-container p::after {
  content: "";
  position: absolute;
  top: -31%;
  right: -9.2%;
  height: 100px;
  width: 100px;
  background-color: #0b372d;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 1;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}

.gallery-main-container__second-container p::after,
.gallery-main-container__fourth-container p::after {
  content: "";
  position: absolute;
  top: -37%;
  left: -13.5%;
  height: 100px;
  width: 100px;
  background-color: #0b372d;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 1;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}

.gallery-main-container__fourth-container p::after {
  top: -60%;
  left: -13%;
}

.gallery-main-container__third-container p::after {
  top: -70%;
  right: -8%;
}

.gallery-main-container__first-container:hover p::after,
.gallery-main-container__third-container:hover p::after,
.gallery-main-container__first-container:active p::after,
.gallery-main-container__third-container:active p::after {
  top: -25%;
  height: 421.5px;
  width: 750px;
  background-color: #0b372da5;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  z-index: -1;
}

.gallery-main-container__second-container:hover p::after,
.gallery-main-container__fourth-container:hover p::after,
.gallery-main-container__second-container:active p::after,
.gallery-main-container__fourth-container:active p::after {
  top: -39%;
  height: 500px;
  width: 750px;
  background-color: #0b372da5;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  z-index: -1;
}

.gallery-main-container__fourth-container:hover p::after {
  top: -75%;
  height: 401.5px;
}

.gallery-main-container__third-container:hover p::after {
  top: -72%;
  height: 392px;
}

.gallery-main-container__second-container,
.gallery-main-container__fourth-container {
  flex-direction: row-reverse;
}

.gallery-main-container__first-container:hover img,
.gallery-main-container__third-container:hover img {
  margin-left: -5rem;
}

.gallery-main-container__second-container:hover img,
.gallery-main-container__fourth-container:hover img {
  margin-right: -5rem;
}

/*_*_*_*_*_*_* tour__Zhangjiajie Section *_*_*_*_*_*_*/

.tour__Zhangjiajie {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 5rem;
  overflow: hidden;
}

.tour__Zhangjiajie--heading {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  font-weight: 400;
  margin-top: 2rem;
  color: #2B3028;
}

.tour__Zhangjiajie--mini-heading {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 300;
  color: #636363;
}

.tour__Zhangjiajie--benefits__main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  margin-top: 4rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

.hidden3 {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-filter: blur(5px);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}

.show3 {
  opacity: 1;
  filter: blur(0);
  -webkit-filter: blur(0);
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.show3:nth-child(2) {
  transition-delay: 0.2s;
}

.show3:nth-child(3) {
  transition-delay: 0.4s;
}

.show3:nth-child(4) {
  transition-delay: 0.6s;
}

.flex-benefits-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-benefits-container p i {
  font-size: 36px;
  color: black;
  margin-bottom: 1rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #F6F6F6;
  height: 75px;
  width: 75px;
}

.flex-benefits-container h4 {
  font-size: 20px;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.flex-benefits-container p {
  color: #636363;
  font-weight: 300;
  font-size: 16px;
}

.tour__Zhangjiajie--benefits__first-container p i {
  padding: 19px 15px;
}

.tour__Zhangjiajie--benefits__second-container p i {
  padding: 20px 16px;
}

.tour__Zhangjiajie--benefits__third-container p i {
  padding: 20px;
}

.tour__Zhangjiajie--benefits__fourth-container p i {
  padding: 19px 20px;
}



.tour__Zhangjiajie--choose-tour__heading {
  margin-left: 3rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-size: 4rem;
  font-weight: 400;
  color: #2B3028;
}

.tour__Zhangjiajie--choose-tour__main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3rem;
  margin-right: 3rem;
}

.flex-tour-container {
  border: 1px solid lightgray;
  border-radius: 20px;
  overflow: hidden;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: grid;
  grid-template-columns: 4fr;
  grid-template-rows: 10fr;
  position: relative;
}

.hidden4 {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-filter: blur(5px);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
}

.show4 {
  opacity: 1;
  filter: blur(0);
  -webkit-filter: blur(0);
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.show4:nth-child(2) {
  transition-delay: 0.2s;
}

.show4:nth-child(3) {
  transition-delay: 0.4s;
}

.show4:nth-child(4) {
  transition-delay: 0.6s;
}

.flex-tour-container img {
  height: 500px;
  width: 400px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  grid-column: 1 / 5;
  grid-row: 1 / 7;
  object-fit: cover;
}

.flex-tour-container img:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.flex-tour-container h4 {
  grid-column: 1 / 2;
  grid-row: 7 / 8;
  padding-left: 16px;
  font-size: 24px;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.flex-tour-container p {
  grid-column: 1 / 2;
  grid-row: 8 / 9;
  font-size: 24px;
  font-weight: 500;
  padding-left: 16px;
  margin-bottom: 1rem;
}

.flex-tour-container p span {
  font-weight: 300;
  font-size: 18px;
}

.flex-tour-container div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 5%;
  top: 3%;
  background-color: #0b372d4d;
  backdrop-filter: blur(10px);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 40px;
  width: 100px;
  gap: 0.5rem;
}

.flex-tour-container div p {
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: lightgray;
}

.flex-tour-container div i {
  font-size: 20px;
  color: lightgray;
}

.arrow_btn {
  position: absolute;
  bottom: 3.5%;
  right: 7%;
  font-size: 24px;
  color: white;
  background-color: black;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  cursor: pointer;
}

.arrow_btn:hover {
  transform: translateX(3px);
  -webkit-transform: translateX(3px);
  -moz-transform: translateX(3px);
  -ms-transform: translateX(3px);
  -o-transform: translateX(3px);
}

/*_*_*_*_*_*_* Footer Section *_*_*_*_*_*_*/

footer {
  display: flex;
  flex-direction: column;
  margin: 1rem 3rem 1rem 3rem;
  background-color: #F4F4F4;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 5rem 5rem 3rem 5rem;
}

.footer__main-container--first-container {
  display: flex;
  justify-content: flex-end;
  gap: 10rem;
  padding-bottom: 5rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #BCBCBC;
}

.footer__main-container--first-container ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
  flex-wrap: wrap;
}

.footer__main-container--first-container ul li {
  color: #636363ac;
  font-size: 16px;
  list-style: none;
}

.footer__main-container--second-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright p {
  color: #636363ac;
}

.social-media {
  display: flex;
  gap: 1rem;
}

.social-media i {
  font-size: 32px;
  height: 50px;
  width: 50px;
  background-color: #d9d9d9;
  border-radius: 50%;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.fa-facebook {
  padding: 0.6rem 0.6rem;
}

.fa-instagram {
  padding: 0.55rem 0.7rem;
}

.fa-youtube {
  padding: 0.6rem 0.45rem;
}


/*_*_*_*_*_*_* Media Queries *_*_*_*_*_*_*/

@media (max-width: 1800px) {

  .gallery-main-container__first-container:hover img,
  .gallery-main-container__third-container:hover img {
    margin-left: -3.5rem;
  }
}

@media (max-width: 1750px) {
  .flex-tour-container img {
    height: 400px;
    width: 350px;
  }
}

@media (max-width: 1700px) {
  .about__Zhangjiajie--gallery-main-container {
    gap: 10rem;
  }

  .about__Zhangjiajie h2 {
    margin-bottom: 2rem;
  }

  .gallery-main-container__first-container img,
  .gallery-main-container__third-container img,
  .gallery-main-container__second-container img,
  .gallery-main-container__fourth-container img {
    width: 600px;
  }

  .about-flex-container {
    gap: 5rem;
  }

  .gallery-main-container__first-container:hover p::before,
  .gallery-main-container__third-container:hover p::before {
    top: -17%;
  }

  .gallery-main-container__third-container:hover p::before {
    top: -55%;
  }

  .gallery-main-container__second-container:hover p::before,
  .gallery-main-container__fourth-container:hover p::before {
    top: -28%;
  }

  .gallery-main-container__fourth-container:hover p::before {
    top: -60%;
  }

  .gallery-main-container__first-container:hover p::after,
  .gallery-main-container__third-container:hover p::after {
    top: -10%;
    height: 343px;
    width: 700px;
  }

  .gallery-main-container__third-container:hover p::after {
    height: 315px;
    top: -47%;
  }

  .gallery-main-container__second-container:hover p::after,
  .gallery-main-container__fourth-container:hover p::after {
    top: -22%;
    height: 400px;
    width: 700px;
  }

  .gallery-main-container__fourth-container:hover p::after {
    top: -50%;
    height: 322px;
  }
}

@media (max-width: 1600px) {
  .flex-tour-container img {
    height: 350px;
    width: 300px;
  }
}

@media (max-width: 1450px) {
  /*   .about__Zhangjiajie--gallery-main-container {
    gap: 10rem;
  }

  .about__Zhangjiajie h2 {
    margin-bottom: 2rem;
  } */

  .gallery-main-container__first-container img,
  .gallery-main-container__third-container img,
  .gallery-main-container__second-container img,
  .gallery-main-container__fourth-container img {
    width: 500px;
  }


  .gallery-main-container__first-container p,
  .gallery-main-container__third-container p,
  .gallery-main-container__second-container p,
  .gallery-main-container__fourth-container p {
    font-size: 14px;
    width: 500px;
    text-align: justify;
    letter-spacing: 1.5px;
  }

  .about-flex-container {
    gap: 4rem;
  }

  .gallery-main-container__first-container p::before,
  .gallery-main-container__third-container p::before,
  .gallery-main-container__second-container p::before,
  .gallery-main-container__fourth-container p::before {
    font-size: 32px;
    right: -7%;
  }

  .gallery-main-container__first-container p::after,
  .gallery-main-container__third-container p::after,
  .gallery-main-container__second-container p::after,
  .gallery-main-container__fourth-container p::after {
    height: 75px;
    width: 75px;
    top: -29%;
    right: -13.5%;
  }

  .gallery-main-container__fourth-container p::after {
    top: -57%;
    left: -12.5%;
  }

  .gallery-main-container__second-container p::after {
    top: -35%;
    left: -12.5%;
  }

  .gallery-main-container__third-container p::after {
    top: -68%;
    right: -12%;
  }


  .gallery-main-container__first-container:hover p::before,
  .gallery-main-container__third-container:hover p::before {
    top: -15%;
    right: -6%;
  }

  .gallery-main-container__third-container:hover p::before {
    top: -55%;
  }

  .gallery-main-container__second-container:hover p::before,
  .gallery-main-container__fourth-container:hover p::before {
    top: -25%;
  }

  .gallery-main-container__fourth-container:hover p::before {
    top: -60%;
  }

  .gallery-main-container__first-container:hover p::after,
  .gallery-main-container__third-container:hover p::after {
    top: -7%;
    height: 282px;
    width: 600px;
  }

  .gallery-main-container__third-container:hover p::after {
    top: -43%;
    height: 262px;
  }

  .gallery-main-container__second-container:hover p::after,
  .gallery-main-container__fourth-container:hover p::after {
    top: -18%;
    height: 334px;
    width: 600px;
  }

  .gallery-main-container__fourth-container:hover p::after {
    top: -46%;
    height: 268px;
  }
}

@media (max-width: 1400px) {
  .flex-tour-container img {
    height: 300px;
    width: 250px;
  }

  .flex-tour-container h4,
  .flex-tour-container p {
    font-size: 18px;
  }

  .flex-tour-container p span {
    font-size: 14px;
  }

  .flex-tour-container div p {
    font-size: 16px;
  }

  .flex-tour-container div i {
    font-size: 12px;
  }

  .arrow_btn {
    font-size: 18px;
    padding: 0.3rem 0.7rem;
  }
}

@media (max-width: 1200px) {

  .about__Zhangjiajie h2 {
    margin-bottom: 0rem;
  }

  .about__Zhangjiajie--gallery-main-container {
    gap: 7rem;
  }

  .gallery-main-container__first-container img,
  .gallery-main-container__third-container img,
  .gallery-main-container__second-container img,
  .gallery-main-container__fourth-container img {
    width: 400px;
  }


  .gallery-main-container__first-container p,
  .gallery-main-container__third-container p,
  .gallery-main-container__second-container p,
  .gallery-main-container__fourth-container p {
    font-size: 12px;
    width: 450px;
    text-align: justify;

  }

  .about-flex-container {
    gap: 3rem;
  }

  .gallery-main-container__first-container p::before,
  .gallery-main-container__third-container p::before,
  .gallery-main-container__second-container p::before,
  .gallery-main-container__fourth-container p::before {
    font-size: 26px;
    right: -5%;
  }

  .gallery-main-container__second-container p::before {
    top: -34%;
    left: -6.1%;
  }

  .gallery-main-container__third-container p::before {
    right: -5%;
    top: -75%;
  }

  .gallery-main-container__first-container p::after,
  .gallery-main-container__third-container p::after,
  .gallery-main-container__second-container p::after,
  .gallery-main-container__fourth-container p::after {
    height: 50px;
    width: 50px;
    top: -26.5%;
    right: -9.5%;
  }

  .gallery-main-container__fourth-container p::after {
    top: -53.5%;
    left: -10.3%;
  }

  .gallery-main-container__second-container p::after {
    top: -30%;
    left: -10%;
  }

  .gallery-main-container__third-container p::after {
    top: -68%;
    right: -8.5%;
  }


  .gallery-main-container__first-container:hover p::before,
  .gallery-main-container__third-container:hover p::before {
    top: -11%;
    right: -6%;
  }

  .gallery-main-container__third-container:hover p::before {
    top: -47%;
  }

  .gallery-main-container__second-container:hover p::before,
  .gallery-main-container__fourth-container:hover p::before {
    top: -20%;
  }

  .gallery-main-container__fourth-container:hover p::before {
    top: -50%;
  }

  .gallery-main-container__first-container:hover p::after,
  .gallery-main-container__third-container:hover p::after {
    top: -3.5%;
    height: 225px;
    width: 520px;
  }

  .gallery-main-container__third-container:hover p::after {
    top: -37%;
    height: 209px;
  }

  .gallery-main-container__second-container:hover p::after,
  .gallery-main-container__fourth-container:hover p::after {
    top: -13.5%;
    height: 267px;
    width: 520px;
  }

  .gallery-main-container__fourth-container:hover p::after {
    top: -40%;
    height: 214px;
  }

  .tour__Zhangjiajie--heading {
    font-size: 3rem;
  }

  .tour__Zhangjiajie--mini-heading {
    font-size: 20px;
  }

  .flex-benefits-container h4 {
    font-size: 16px;
  }

  .flex-benefits-container p {
    font-size: 14px;
  }

  .flex-benefits-container p i {
    height: 50px;
    width: 50px;
    padding: 0;
    background: none;
  }

  .flex-benefits-container i {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .tour__Zhangjiajie--choose-tour__main-container {
    justify-content: space-around;
  }

  .tour__Zhangjiajie--choose-tour__heading {
    font-size: 2.5rem;
  }

  .flex-tour-container img {
    height: 250px;
    width: 200px;
  }

  .flex-tour-container h4 {
    font-size: 16px;
  }

  .flex-tour-container .price {
    font-size: 16px;
  }

  .flex-tour-container .price span {
    font-size: 14px;
  }

  .arrow_btn {
    font-size: 16px;
    padding: auto;
  }

  .flex-tour-container div {
    height: 30px;
    width: 80px;
  }

  .flex-tour-container div p {
    font-size: 14px;
  }
}

@media (max-width: 1100px) {
  .text h1 {
    font-size: 5.8rem;
  }

  .text h2 {
    font-size: 4.7rem;
  }

  .footer__main-container--first-container {
    gap: 5rem;
  }
}

@media (max-width: 1000px) {

  .about__Zhangjiajie--gallery-main-container {
    gap: 7rem;
  }

  .gallery-main-container__first-container img,
  .gallery-main-container__third-container img,
  .gallery-main-container__second-container img,
  .gallery-main-container__fourth-container img {
    width: 500px;
  }

  .about-flex-container {
    flex-wrap: wrap;
  }

  .about-flex-container:hover img {
    margin: 0;
  }


  .gallery-main-container__first-container p,
  .gallery-main-container__third-container p,
  .gallery-main-container__second-container p,
  .gallery-main-container__fourth-container p {
    font-size: 12px;
    width: 480px;
    text-align: justify;
  }

  .about-flex-container {
    gap: 2rem;
  }

  .gallery-main-container__first-container p::before,
  .gallery-main-container__third-container p::before,
  .gallery-main-container__second-container p::before,
  .gallery-main-container__fourth-container p::before {
    top: -200%;
    right: -9.7%;
  }

  .gallery-main-container__second-container p::before {
    top: -205%;
    left: -9%;
  }

  .gallery-main-container__third-container p::before {
    right: -12%;
    top: -300%;
  }

  .gallery-main-container__fourth-container p::before {
    top: -400%;
    left: -9%;
  }

  .gallery-main-container__first-container p::after,
  .gallery-main-container__third-container p::after,
  .gallery-main-container__second-container p::after,
  .gallery-main-container__fourth-container p::after {
    height: 50px;
    width: 50px;
    top: -196%;
    right: -14%;
  }

  .gallery-main-container__fourth-container p::after {
    top: -390%;
    left: -12%;
  }

  .gallery-main-container__second-container p::after {
    top: -201.5%;
    left: -12.5%;
  }

  .gallery-main-container__third-container p::after {
    top: -294%;
    right: -15.5%;
  }


  .gallery-main-container__first-container:hover p::before,
  .gallery-main-container__third-container:hover p::before,
  .gallery-main-container__first-container:active p::before,
  .gallery-main-container__third-container:active p::before {
    display: none;
  }

  .gallery-main-container__second-container:hover p::before,
  .gallery-main-container__fourth-container:hover p::before,
  .gallery-main-container__second-container:active p::before,
  .gallery-main-container__fourth-container:active p::before {
    display: none;
  }


  .gallery-main-container__first-container:hover p::after,
  .gallery-main-container__third-container:hover p::after,
  .gallery-main-container__first-container:active p::after,
  .gallery-main-container__third-container:active p::after {
    top: -3.5%;
    right: -2%;
    height: 190px;
    width: 500px;
  }

  .gallery-main-container__third-container:hover p::after {
    height: 120px;
    top: 0%;
  }


  .gallery-main-container__second-container:hover p::after,
  .gallery-main-container__fourth-container:hover p::after {
    top: -3%;
    left: -2%;
    height: 220px;
    width: 500px;
  }

  .gallery-main-container__fourth-container:hover p::after {
    top: 0%;
    height: 90px;
  }


  .tour__Zhangjiajie--heading {
    font-size: 2rem;
  }

  .tour__Zhangjiajie--mini-heading {
    font-size: 16px;
  }

  .flex-benefits-container h4 {
    font-size: 14px;
  }

  .flex-benefits-container p {
    font-size: 12px;
  }

  .flex-benefits-container p i {
    height: 35px;
    width: 35px;
    padding: 0;
    background: none;
    font-size: 24px;
  }

  .tour__Zhangjiajie--choose-tour__heading {
    font-size: 1.6rem;
    text-align: center;
    margin-left: 0;
  }

  .tour__Zhangjiajie--choose-tour__main-container {
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }

  .footer__main-container--first-container ul li {
    font-size: 14px;
  }

  .copyright p {
    font-size: 14px;
  }

  .social-media i {
    font-size: 24px;
    height: 35px;
    width: 35px;
  }

  .fa-facebook {
    padding: 0.35rem 0.37rem;
  }

  .fa-instagram {
    padding: 0.38rem 0.45rem;
  }

  .fa-youtube {
    padding: 0.4rem 0.27rem;
  }

  .footer__main-container--first-container {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (max-width: 725px) {
  .text h1 {
    font-size: 5rem;
    line-height: 1.1;
  }

  .text h2 {
    font-size: 4.1rem;
    line-height: 1.1;
  }

  header nav {
    padding: 0 1rem;
  }

  .logo {
    width: 75px;
  }

  header ul a {
    font-size: 0.73rem;
    padding: 0 0.9rem;
  }

  .search a {
    font-size: 0.85rem;
    padding: 0 1.8rem;
  }

  .hamburger {
    padding-left: 0.9rem;
  }

  .hamburger a {
    height: 30px;
    width: 30px;
  }

  .bg-img {
    width: initial;
    height: 259.26%;
  }

  .fog-7 {
    width: initial;
    height: 175.92%;
  }

  .mountain-10 {
    width: initial;
    height: 80.54%;
  }

  .fog-2 {
    width: initial;
    height: 169.71%;
  }

  .mountain-9 {
    width: initial;
    height: 42.86%;
  }

  .mountain-8 {
    width: initial;
    height: 72.76%;
  }

  .fog-3 {
    width: initial;
    height: 41.56%;
  }

  .mountain-7 {
    width: initial;
    height: 47.68%;
  }

  .mountain-6 {
    width: initial;
    height: 35.50%;
  }

  .fog-4 {
    width: initial;
    height: 50.27%;
  }

  .mountain-5 {
    width: initial;
    height: 53.98%;
  }

  .fog-5 {
    width: initial;
    height: 132.86%;
  }

  .mountain-4 {
    width: initial;
    height: 66.38%;
  }

  .mountain-3 {
    width: initial;
    height: 38.78%;
  }

  .mountain-2 {
    width: initial;
    height: 57.85%;
  }

  .mountain-1 {
    width: initial;
    height: 41.66%;
  }

  .fog-1 {
    width: initial;
    height: 175.92%;
  }


  .tour__Zhangjiajie--heading {
    font-size: 1.6rem;
  }

  .tour__Zhangjiajie--mini-heading {
    font-size: 1rem;
  }

  .tour__Zhangjiajie--benefits__main-container {
    margin: 1rem 1rem 0rem 1rem;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 650px) {

  .about__Zhangjiajie h2 {
    font-size: 36px;
    margin-bottom: -2rem;
  }

  .about__Zhangjiajie--gallery-main-container {
    gap: 5rem;
  }

  .gallery-main-container__first-container img,
  .gallery-main-container__third-container img,
  .gallery-main-container__second-container img,
  .gallery-main-container__fourth-container img {
    width: 350px;
  }

  .gallery-main-container__first-container p,
  .gallery-main-container__third-container p,
  .gallery-main-container__second-container p,
  .gallery-main-container__fourth-container p {
    font-size: 10px;
    width: 350px;
    line-height: 2;
  }

  .gallery-main-container__first-container p::before,
  .gallery-main-container__third-container p::before,
  .gallery-main-container__second-container p::before,
  .gallery-main-container__fourth-container p::before {
    top: -170%;
    right: -7%;
    font-size: 18px;
  }

  .gallery-main-container__second-container p::before {
    top: -195%;
    left: -7%;
  }

  .gallery-main-container__third-container p::before {
    right: -8%;
    top: -320%;
  }

  .gallery-main-container__fourth-container p::before {
    top: -330%;
    left: -8%;
  }

  .gallery-main-container__first-container p::after,
  .gallery-main-container__third-container p::after,
  .gallery-main-container__second-container p::after,
  .gallery-main-container__fourth-container p::after {
    height: 35px;
    width: 35px;
    top: -170%;
    right: -11%;
  }

  .gallery-main-container__fourth-container p::after {
    top: -330%;
    left: -11.2%;
  }

  .gallery-main-container__second-container p::after {
    top: -195%;
    left: -10.5%;
  }

  .gallery-main-container__third-container p::after {
    top: -320%;
    right: -11%;
  }


  .gallery-main-container__first-container:hover p::after,
  .gallery-main-container__third-container:hover p::after,
  .gallery-main-container__first-container:active p::after,
  .gallery-main-container__third-container:active p::after {
    top: -3.5%;
    right: -2%;
    height: 170px;
    width: 365px;
  }


  .gallery-main-container__third-container:hover p::after,
  .gallery-main-container__third-container:active p::after {
    height: 90px;
    top: -6%;
  }


  .gallery-main-container__second-container:hover p::after,
  .gallery-main-container__fourth-container:hover p::after,
  .gallery-main-container__second-container:active p::after,
  .gallery-main-container__fourth-container:active p::after {
    top: -3%;
    left: -2%;
    height: 170px;
    width: 362px;
  }

  .gallery-main-container__fourth-container:hover p::after,
  .gallery-main-container__fourth-container:active p::after {
    top: -5%;
    height: 90px;
  }

  .tour__Zhangjiajie--mini-heading {
    font-size: 0.8rem;
  }

  .footer__main-container--first-container ul li,
  .footer__main-container--first-container ul p {
    font-size: 12px;
  }

  .copyright p {
    font-size: 12px;
  }

  .social-media i {
    font-size: 16px;
    height: 25px;
    width: 25px;
  }

  .fa-facebook {
    padding: 0.28rem 0.3rem;
  }

  .fa-instagram {
    padding: 0.28rem 0.35rem;
  }

  .fa-youtube {
    padding: 0.28rem 0.23rem;
  }

}

@media (max-width: 520px) {
  .text h1 {
    font-size: 3.3rem;
  }

  .text h2 {
    font-size: 2.6rem;
  }

  header ul a {
    font-size: 0.65rem;
    margin-left: 1rem;
    padding: 0;
  }

  .search {
    padding: 0;
  }

  .tour__Zhangjiajie--heading {
    font-size: 1.4rem;
  }

  .tour__Zhangjiajie--mini-heading {
    font-size: 0.7rem;
    margin-bottom: 1rem;
    margin-top: -0.6rem;
    text-align: center;
  }

  .tour__Zhangjiajie--benefits__main-container {
    margin: 0;
    gap: 3rem;
  }

  .flex-benefits-container {
    width: 250px;
  }


  footer {
    padding: 2rem 2rem 1rem 2rem;
  }

  .footer__main-container--first-container {
    gap: 2rem;
    padding-bottom: 2rem;
  }

  .footer__main-container--second-container {
    flex-direction: column;
    gap: 1rem;
  }

}

@media (max-width: 450px) {

  .text h1 {
    font-size: 2.6rem;
  }

  .text h2 {
    font-size: 2rem;
  }

  .mountain-1 {

    top: 80.51%;
    left: 5.21%;
  }

  .about__Zhangjiajie h2 {
    font-size: 28px;
    margin-bottom: -3rem;
  }

  .gallery-main-container__first-container img,
  .gallery-main-container__third-container img,
  .gallery-main-container__second-container img,
  .gallery-main-container__fourth-container img {
    width: 300px;
  }

  .gallery-main-container__first-container p,
  .gallery-main-container__third-container p,
  .gallery-main-container__second-container p,
  .gallery-main-container__fourth-container p {
    font-size: 10px;
    width: 295px;
    line-height: 2;
  }

  .gallery-main-container__first-container p::before,
  .gallery-main-container__third-container p::before,
  .gallery-main-container__second-container p::before,
  .gallery-main-container__fourth-container p::before {
    display: none;
  }

  .gallery-main-container__first-container p::after,
  .gallery-main-container__third-container p::after,
  .gallery-main-container__second-container p::after,
  .gallery-main-container__fourth-container p::after {
    display: none;
  }

}